  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h4>Sweater Weather</h4>
        <p>You don't want to know the weather, you want to know what to wear.</p>
      </div>
    </div>
    <div class="row">
    <div class="six columns">
      <form id="searchWeather">
      <label>Wear are you?</label>
      <input id="searchBox" class="u-full-width" type="text" placeholder="Search...">
      <input class="button-primary" type="submit" value="submit">
      </form>
      <div id='searchResults' class="three columns">
      </div>
    </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->